@model Schoenenwinkel.Models.ProductModel

@using (Html.BeginForm("Add", "Product"))
{
    @Html.LabelFor(m => m.Merk)
    @Html.TextBoxFor(m => m.Merk)

    @Html.LabelFor(m => m.Model)
    @Html.TextBoxFor(m => m.Model)

    <button type="submit">Add</button>
}
