@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sneakerstore</h1>
    <p class="lead">Klik hieronder om naar het aanbod te gaan.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ons aanbod &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nieuwe release</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Over ons</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Iets</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>