@model List<Schoenenwinkel.Models.ProductModel>
@{
    ViewBag.Title = "Producten";
}

<br />
<h2> Schoenen </h2>


<table>
    <tr class="eersteRij">
        <th class ="eersteRij"> Foto </th>
        <th> Merk </th>
        <th> Model </th>
        <th> Naam </th>
        <th> Voorraad </th>
        <th> Gewicht </th>
        <th> Vestiging </th>
        <th> Update/Delete </th>
    </tr>

    @Html.DisplayForModel()

</table>
@Html.ActionLink("Add", "Add", "Product")
