@model List<Schoenenwinkel.Models.VestigingVoorraadModel>
@{
    ViewBag.Title = "Vestigingen met Voorraad";
}

<br />
<h2>Vestigingen Met voorraad</h2>
<div>

    <img src="@ViewBag.FotoInfo" style=" width: 500px; height: 310px; " />
</div>

@using (Html.BeginForm("GetVoorraadVestiging", "Vestiging", new { productID = ViewBag.ProductInfo, productID2 = ViewBag.ProductInfo }))
{
    <table>
        <tr>
            <td>Vestiging</td>
            <td>Locatie</td>
            <td>Product</td>
            <td>Voorraad</td>
        </tr>

        @Html.EditorForModel()

    </table>

    <br />
    <button type="submit">Update</button>
}